<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Volta</title>
    <link rel="stylesheet" href="{{ .StaticURL }}bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">

          <h1>Volta</h1>

          {{ if .User }}<p>Hello, {{ .User.Name }}!</p>{{ end }}

          <ul>
            <li><a href="/login">Sign In</a></li>
            <li><a href="/logout">Sign Out</a></li>
          </ul>

        </div>
      </div>
    </div>
  </body>
</html>
